.Hero {
  position: relative;
  height: auto;
}

.Hero::before {
  content: "";
  position: absolute;
  min-height: 400px;
  height: 100%;
  width: 100%;
  background-image: url("assets/hero/background.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(50%);
  z-index: -1;
}

.Hero-header {
  min-height: 400px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: auto;
}

.Hero-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 344px;
  height: auto;
}

.Hero-text {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 60%;
  font-weight: normal;
  color: white;
  height: auto;
}
