/*
* Background image will allow 2 image and can set their rspective positions
* alternative is to use full-width image and layer one over the other
*/

.Monitoring {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 750px;
  width: 100%;
}

.Monitoring::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 750px;
  z-index: -1;
  background-image:
    url("assets/monitoring/left_background.svg"),
    url("assets/monitoring/right_background.svg");
  background-position: left, right;
  background-color: #979797;
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
  opacity: 0.5;
}

.Monitoring-text {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 954px;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  color: black;
  max-width: 50%;
  height: auto;
}

.Monitoring-response-boxes {
  margin: 15px;
  max-width: 20%;
  height: auto;
}

.Monitoring-response-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 344px;
}

/*
* Changes the direction of the flex-box to column for smaller screens
*/
@media only screen and (max-width: 1024px) {
  .Monitoring-response-container {
    flex-direction: column;
    width: 100%;
  }
}
